:root {
  --primary-color: #000000;
  --secondary-color: #080808;
  --text-color: #ffffff;
  --border-radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, serif;
  background: var(--primary-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
